.side-panel {
    padding: 16px;
    border-right: 1px solid #c3efef;
    width: 150px;
    height: 100%;
}

.actions-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.actions-list button {
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 40px;
}

.actions-list button.active {
    background-color: #b1e19b;
}


@media (max-width: 800px) {
    .side-panel {
        width: 100%;
        border: none;
        height: auto;
    }

    .actions-list {
        flex-direction: row;
        justify-content: center;
    }

    .actions-list button {
        width: 40%;
    }
}